In [1]:
import pandas as pd

In [2]:
df_2000 = pd.read_csv(r"C:\Users\14802\Desktop\hate-crime analysis\datasets\per_capita_2000.csv")
df_2001 = pd.read_csv(r"C:\Users\14802\Desktop\hate-crime analysis\datasets\per_capita_2001.csv")
df_2002 = pd.read_csv(r"C:\Users\14802\Desktop\hate-crime analysis\datasets\per_capita_2002.csv")
df_2003 = pd.read_csv(r"C:\Users\14802\Desktop\hate-crime analysis\datasets\per_capita_2003.csv")
df_2004 = pd.read_csv(r"C:\Users\14802\Desktop\hate-crime analysis\datasets\per_capita_2004.csv")
df_2005 = pd.read_csv(r"C:\Users\14802\Desktop\hate-crime analysis\datasets\per_capita_2005.csv")
df_2006 = pd.read_csv(r"C:\Users\14802\Desktop\hate-crime analysis\datasets\per_capita_2006.csv")
df_2007 = pd.read_csv(r"C:\Users\14802\Desktop\hate-crime analysis\datasets\per_capita_2007.csv")
df_2008 = pd.read_csv(r"C:\Users\14802\Desktop\hate-crime analysis\datasets\per_capita_2008.csv")
df_2009 = pd.read_csv(r"C:\Users\14802\Desktop\hate-crime analysis\datasets\per_capita_2009.csv")
df_2010 = pd.read_csv(r"C:\Users\14802\Desktop\hate-crime analysis\datasets\per_capita_2010.csv")
df_2011 = pd.read_csv(r"C:\Users\14802\Desktop\hate-crime analysis\datasets\per_capita_2011.csv")
df_2012 = pd.read_csv(r"C:\Users\14802\Desktop\hate-crime analysis\datasets\per_capita_2012.csv")
df_2013 = pd.read_csv(r"C:\Users\14802\Desktop\hate-crime analysis\datasets\per_capita_2013.csv")
df_2014 = pd.read_csv(r"C:\Users\14802\Desktop\hate-crime analysis\datasets\per_capita_2014.csv")
df_2015 = pd.read_csv(r"C:\Users\14802\Desktop\hate-crime analysis\datasets\per_capita_2015.csv")
df_2016 = pd.read_csv(r"C:\Users\14802\Desktop\hate-crime analysis\datasets\per_capita_2016.csv")
df_2017 = pd.read_csv(r"C:\Users\14802\Desktop\hate-crime analysis\datasets\per_capita_2017.csv")
df_2018 = pd.read_csv(r"C:\Users\14802\Desktop\hate-crime analysis\datasets\per_capita_2018.csv")
df_2019 = pd.read_csv(r"C:\Users\14802\Desktop\hate-crime analysis\datasets\per_capita_2019.csv")
df_2020 = pd.read_csv(r"C:\Users\14802\Desktop\hate-crime analysis\datasets\per_capita_2020.csv")

In [3]:
state_list = df_2000.state.tolist()

In [4]:
transposed_2000 = df_2000[['state','total_incidents_per_capita']].transpose()
transposed_2000.rename(index={'total_incidents_per_capita':'2000'}, inplace=True)
transposed_2000.columns = state_list
transposed_2000.drop(index=['state'], inplace=True)

In [5]:
transposed_2001 = df_2001[['state','total_incidents_per_capita']].transpose()
transposed_2001.rename(index={'total_incidents_per_capita':'2001'}, inplace=True)
transposed_2001.columns = state_list
transposed_2001.drop(index=['state'], inplace=True)

In [6]:
transposed_2002 = df_2002[['state','total_incidents_per_capita']].transpose()
transposed_2002.rename(index={'total_incidents_per_capita':'2002'}, inplace=True)
transposed_2002.columns = state_list
transposed_2002.drop(index=['state'], inplace=True)

In [7]:
transposed_2003 = df_2003[['state','total_incidents_per_capita']].transpose()
transposed_2003.rename(index={'total_incidents_per_capita':'2003'}, inplace=True)
transposed_2003.columns = state_list
transposed_2003.drop(index=['state'], inplace=True)

In [8]:
transposed_2004 = df_2004[['state','total_incidents_per_capita']].transpose()
transposed_2004.rename(index={'total_incidents_per_capita':'2004'}, inplace=True)
transposed_2004.columns = state_list
transposed_2004.drop(index=['state'], inplace=True)

In [9]:
transposed_2005 = df_2005[['state','total_incidents_per_capita']].transpose()
transposed_2005.rename(index={'total_incidents_per_capita':'2005'}, inplace=True)
transposed_2005.columns = state_list
transposed_2005.drop(index=['state'], inplace=True)

In [10]:
transposed_2006 = df_2006[['state','total_incidents_per_capita']].transpose()
transposed_2006.rename(index={'total_incidents_per_capita':'2006'}, inplace=True)
transposed_2006.columns = state_list
transposed_2006.drop(index=['state'], inplace=True)

In [11]:
transposed_2007 = df_2007[['state','total_incidents_per_capita']].transpose()
transposed_2007.rename(index={'total_incidents_per_capita':'2007'}, inplace=True)
transposed_2007.columns = state_list
transposed_2007.drop(index=['state'], inplace=True)

In [12]:
transposed_2008 = df_2008[['state','total_incidents_per_capita']].transpose()
transposed_2008.rename(index={'total_incidents_per_capita':'2008'}, inplace=True)
transposed_2008.columns = state_list
transposed_2008.drop(index=['state'], inplace=True)

In [13]:
transposed_2009 = df_2009[['state','total_incidents_per_capita']].transpose()
transposed_2009.rename(index={'total_incidents_per_capita':'2009'}, inplace=True)
transposed_2009.columns = state_list
transposed_2009.drop(index=['state'], inplace=True)

In [14]:
transposed_2010 = df_2010[['state','total_incidents_per_capita']].transpose()
transposed_2010.rename(index={'total_incidents_per_capita':'2010'}, inplace=True)
transposed_2010.columns = state_list
transposed_2010.drop(index=['state'], inplace=True)

In [15]:
transposed_2011 = df_2011[['state','total_incidents_per_capita']].transpose()
transposed_2011.rename(index={'total_incidents_per_capita':'2011'}, inplace=True)
transposed_2011.columns = state_list
transposed_2011.drop(index=['state'], inplace=True)

In [16]:
transposed_2012 = df_2012[['state','total_incidents_per_capita']].transpose()
transposed_2012.rename(index={'total_incidents_per_capita':'2012'}, inplace=True)
transposed_2012.columns = state_list
transposed_2012.drop(index=['state'], inplace=True)

In [17]:
transposed_2013 = df_2013[['state','total_incidents_per_capita']].transpose()
transposed_2013.rename(index={'total_incidents_per_capita':'2013'}, inplace=True)
transposed_2013.columns = state_list
transposed_2013.drop(index=['state'], inplace=True)

In [18]:
transposed_2014 = df_2014[['state','total_incidents_per_capita']].transpose()
transposed_2014.rename(index={'total_incidents_per_capita':'2014'}, inplace=True)
transposed_2014.columns = state_list
transposed_2014.drop(index=['state'], inplace=True)

In [19]:
transposed_2015 = df_2015[['state','total_incidents_per_capita']].transpose()
transposed_2015.rename(index={'total_incidents_per_capita':'2015'}, inplace=True)
transposed_2015.columns = state_list
transposed_2015.drop(index=['state'], inplace=True)

In [20]:
transposed_2016 = df_2016[['state','total_incidents_per_capita']].transpose()
transposed_2016.rename(index={'total_incidents_per_capita':'2016'}, inplace=True)
transposed_2016.columns = state_list
transposed_2016.drop(index=['state'], inplace=True)

In [21]:
transposed_2017 = df_2017[['state','total_incidents_per_capita']].transpose()
transposed_2017.rename(index={'total_incidents_per_capita':'2017'}, inplace=True)
transposed_2017.columns = state_list
transposed_2017.drop(index=['state'], inplace=True)

In [22]:
transposed_2018 = df_2018[['state','total_incidents_per_capita']].transpose()
transposed_2018.rename(index={'total_incidents_per_capita':'2018'}, inplace=True)
transposed_2018.columns = state_list
transposed_2018.drop(index=['state'], inplace=True)

In [23]:
transposed_2019 = df_2019[['state','total_incidents_per_capita']].transpose()
transposed_2019.rename(index={'total_incidents_per_capita':'2019'}, inplace=True)
transposed_2019.columns = state_list
transposed_2019.drop(index=['state'], inplace=True)

In [24]:
transposed_2020 = df_2020[['state','total_incidents_per_capita']].transpose()
transposed_2020.rename(index={'total_incidents_per_capita':'2020'}, inplace=True)
transposed_2020.columns = state_list
transposed_2020.drop(index=['state'], inplace=True)

In [25]:
merged_df = transposed_2000.append(transposed_2001)

In [26]:
merged_df = merged_df.append(transposed_2002)

In [27]:
merged_df = merged_df.append(transposed_2003)

In [28]:
merged_df = merged_df.append(transposed_2004)

In [29]:
merged_df = merged_df.append(transposed_2005)

In [30]:
merged_df = merged_df.append(transposed_2006)

In [31]:
merged_df = merged_df.append(transposed_2007)

In [32]:
merged_df = merged_df.append(transposed_2008)

In [33]:
merged_df = merged_df.append(transposed_2009)

In [34]:
merged_df = merged_df.append(transposed_2010)

In [35]:
merged_df = merged_df.append(transposed_2011)

In [36]:
merged_df = merged_df.append(transposed_2012)

In [37]:
merged_df = merged_df.append(transposed_2013)

In [38]:
merged_df = merged_df.append(transposed_2014)

In [39]:
merged_df = merged_df.append(transposed_2015)

In [40]:
merged_df = merged_df.append(transposed_2016)

In [41]:
merged_df = merged_df.append(transposed_2017)

In [42]:
merged_df = merged_df.append(transposed_2018)

In [43]:
merged_df = merged_df.append(transposed_2019)

In [44]:
merged_df = merged_df.append(transposed_2020)

In [45]:
merged_df

,Alabama,Alaska,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,District of Columbia,Florida,...,South Dakota,Tennessee,Texas,Utah,Vermont,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2000,0.044922,0.63698,5.445118,0.111999,5.716727,2.334223,4.572397,4.323648,1.048867,1.495559,...,1.190722,4.137651,1.370288,3.341498,3.116706,4.559645,4.0944,4.095138,0.874581,1.820757
2001,0.044766,3.155998,7.319649,0.111459,6.514024,2.847016,4.981306,2.136486,2.088758,1.846308,...,0.659655,3.303894,2.045064,2.890028,2.776766,4.959462,4.644385,2.220395,1.128202,2.021603
2002,0.044642,1.089771,4.46606,6.393373,4.725876,2.137891,4.047706,1.612565,2.442607,1.539902,...,0.526302,2.242958,1.58135,2.322765,2.924727,3.993483,2.858394,2.326336,0.624408,0.999966
2003,0.022205,2.004892,4.482463,6.349053,4.175512,1.898986,4.218881,2.444979,5.628828,1.358497,...,1.309365,2.753166,1.316331,2.542225,4.369936,3.868615,3.653273,1.710538,0.565776,2.383539
2004,0.066215,1.365113,3.980607,3.018526,3.915718,1.311472,3.432402,4.453523,8.630498,1.573328,...,0.908624,2.300869,1.326247,2.498355,4.516712,4.146838,2.832336,2.477376,0.689152,0.785691
2005,0.722131,0.599749,3.322443,4.8542,3.851742,2.698684,2.93702,5.797787,8.639903,1.294695,...,1.160552,2.002985,1.159007,1.668213,5.473145,3.866912,2.732806,2.526789,0.811371,0.583479
2006,0.7129,0.888491,2.803053,4.004591,3.600657,2.965836,3.61056,5.702528,9.988067,1.18897,...,11.238351,3.38328,1.040258,1.465052,4.33462,4.443735,2.778321,1.914753,1.523938,0.956632
2007,0.149802,1.175952,2.610381,1.158443,3.862036,3.289016,4.082477,5.620884,7.137833,0.903753,...,4.673942,3.86999,1.015442,2.19421,3.368186,3.818862,3.033311,2.39906,1.229777,3.926144
2008,0.233139,1.163713,2.94569,3.200496,3.775509,3.353968,5.048541,7.014574,7.238434,0.825808,...,5.506029,4.32179,1.016083,1.502049,3.524788,3.40844,3.657293,2.499579,1.6841,1.098815
2009,0.189158,1.287747,3.452541,2.589025,2.754237,4.183263,5.615127,4.149238,6.247594,0.696952,...,5.204029,2.711695,0.665275,1.799208,3.841125,1.892521,3.119645,1.352979,0.952505,1.428952
2010,0.397032,0.980417,3.683275,2.190282,2.92608,3.050992,4.107094,2.223094,9.58231,0.721633,...,6.248522,2.312951,0.68933,2.269932,2.71615,2.180956,3.4406,1.779681,1.634292,0.354276
2011,1.729296,1.107498,2.981424,1.224058,2.763289,3.631465,3.95694,1.762911,13.380838,0.645479,...,2.670746,2.312392,0.596596,2.451331,1.434956,1.814269,3.119746,1.023373,1.384546,0.352428
2012,0.124568,0.821007,2.684423,1.72713,2.398236,3.639052,4.144402,1.092278,11.325438,0.746036,...,3.597731,4.97231,0.670906,3.573749,2.235133,1.685505,3.971821,1.453609,1.2236,0.346827
2013,0.124183,1.08456,3.029531,0.912021,2.20109,2.447458,4.004681,1.406832,11.050419,0.608643,...,2.491839,3.15533,0.536261,2.621799,2.074679,1.489851,4.220347,3.127076,0.871382,0.171638
2014,0.185807,0.814028,3.935913,0.370525,1.966999,1.756144,3.476377,1.393159,10.548476,0.327392,...,2.11847,3.025387,0.585986,1.871813,2.397342,1.479178,4.307455,1.567086,0.921227,0.34296
2015,0.205982,1.08338,4.039334,0.20136,2.151433,1.961745,2.591568,1.167648,9.600983,0.356099,...,1.872083,3.350844,0.695341,1.575264,1.278343,1.888303,3.836877,2.278483,0.780853,0.341071
2016,0.287662,1.481332,3.124655,0.401094,2.378083,1.893993,3.016903,1.578966,16.725424,0.533275,...,2.084074,2.240171,0.641254,2.200877,4.004062,1.508734,5.410988,2.23746,0.675305,0.512608
2017,0.287004,0.539823,3.745697,0.798973,2.781041,1.388538,3.076644,3.027323,27.830418,0.69123,...,1.716774,2.0105,0.650383,1.5144,4.958953,2.549873,6.879421,2.089424,0.724995,0.689662
2018,0.020443,0.678772,2.358942,0.730373,2.700478,1.702604,2.601718,2.171699,30.249366,0.663376,...,2.274314,2.345762,1.414869,1.394544,6.88218,1.762442,6.828938,4.706656,0.826259,0.863477
2019,0.020375,1.499449,2.866216,0.463425,2.573685,4.011471,2.243396,2.252557,31.344731,0.51647,...,2.254469,1.669027,1.410987,1.061378,5.448316,1.975074,6.7113,3.007916,0.858431,0.861897
2020,0.537334,1.365298,3.928679,1.659899,3.389896,4.892547,2.805353,1.310634,19.417673,0.505333,...,1.916359,1.936383,1.902959,1.645497,11.984529,2.166347,5.842888,4.581523,2.664484,3.118141

In [87]:
merged_df.reset_index(inplace=True)

In [88]:
merged_df.rename(columns={'index':'year'}, inplace=True)

,index,Alabama,Alaska,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,District of Columbia,...,South Dakota,Tennessee,Texas,Utah,Vermont,Virginia,Washington,West Virginia,Wisconsin,Wyoming
0,2000,0.044922,0.63698,5.445118,0.111999,5.716727,2.334223,4.572397,4.323648,1.048867,...,1.190722,4.137651,1.370288,3.341498,3.116706,4.559645,4.0944,4.095138,0.874581,1.820757
1,2001,0.044766,3.155998,7.319649,0.111459,6.514024,2.847016,4.981306,2.136486,2.088758,...,0.659655,3.303894,2.045064,2.890028,2.776766,4.959462,4.644385,2.220395,1.128202,2.021603
2,2002,0.044642,1.089771,4.46606,6.393373,4.725876,2.137891,4.047706,1.612565,2.442607,...,0.526302,2.242958,1.58135,2.322765,2.924727,3.993483,2.858394,2.326336,0.624408,0.999966
3,2003,0.022205,2.004892,4.482463,6.349053,4.175512,1.898986,4.218881,2.444979,5.628828,...,1.309365,2.753166,1.316331,2.542225,4.369936,3.868615,3.653273,1.710538,0.565776,2.383539
4,2004,0.066215,1.365113,3.980607,3.018526,3.915718,1.311472,3.432402,4.453523,8.630498,...,0.908624,2.300869,1.326247,2.498355,4.516712,4.146838,2.832336,2.477376,0.689152,0.785691
5,2005,0.722131,0.599749,3.322443,4.8542,3.851742,2.698684,2.93702,5.797787,8.639903,...,1.160552,2.002985,1.159007,1.668213,5.473145,3.866912,2.732806,2.526789,0.811371,0.583479
6,2006,0.7129,0.888491,2.803053,4.004591,3.600657,2.965836,3.61056,5.702528,9.988067,...,11.238351,3.38328,1.040258,1.465052,4.33462,4.443735,2.778321,1.914753,1.523938,0.956632
7,2007,0.149802,1.175952,2.610381,1.158443,3.862036,3.289016,4.082477,5.620884,7.137833,...,4.673942,3.86999,1.015442,2.19421,3.368186,3.818862,3.033311,2.39906,1.229777,3.926144
8,2008,0.233139,1.163713,2.94569,3.200496,3.775509,3.353968,5.048541,7.014574,7.238434,...,5.506029,4.32179,1.016083,1.502049,3.524788,3.40844,3.657293,2.499579,1.6841,1.098815
9,2009,0.189158,1.287747,3.452541,2.589025,2.754237,4.183263,5.615127,4.149238,6.247594,...,5.204029,2.711695,0.665275,1.799208,3.841125,1.892521,3.119645,1.352979,0.952505,1.428952
10,2010,0.397032,0.980417,3.683275,2.190282,2.92608,3.050992,4.107094,2.223094,9.58231,...,6.248522,2.312951,0.68933,2.269932,2.71615,2.180956,3.4406,1.779681,1.634292,0.354276
11,2011,1.729296,1.107498,2.981424,1.224058,2.763289,3.631465,3.95694,1.762911,13.380838,...,2.670746,2.312392,0.596596,2.451331,1.434956,1.814269,3.119746,1.023373,1.384546,0.352428
12,2012,0.124568,0.821007,2.684423,1.72713,2.398236,3.639052,4.144402,1.092278,11.325438,...,3.597731,4.97231,0.670906,3.573749,2.235133,1.685505,3.971821,1.453609,1.2236,0.346827
13,2013,0.124183,1.08456,3.029531,0.912021,2.20109,2.447458,4.004681,1.406832,11.050419,...,2.491839,3.15533,0.536261,2.621799,2.074679,1.489851,4.220347,3.127076,0.871382,0.171638
14,2014,0.185807,0.814028,3.935913,0.370525,1.966999,1.756144,3.476377,1.393159,10.548476,...,2.11847,3.025387,0.585986,1.871813,2.397342,1.479178,4.307455,1.567086,0.921227,0.34296
15,2015,0.205982,1.08338,4.039334,0.20136,2.151433,1.961745,2.591568,1.167648,9.600983,...,1.872083,3.350844,0.695341,1.575264,1.278343,1.888303,3.836877,2.278483,0.780853,0.341071
16,2016,0.287662,1.481332,3.124655,0.401094,2.378083,1.893993,3.016903,1.578966,16.725424,...,2.084074,2.240171,0.641254,2.200877,4.004062,1.508734,5.410988,2.23746,0.675305,0.512608
17,2017,0.287004,0.539823,3.745697,0.798973,2.781041,1.388538,3.076644,3.027323,27.830418,...,1.716774,2.0105,0.650383,1.5144,4.958953,2.549873,6.879421,2.089424,0.724995,0.689662
18,2018,0.020443,0.678772,2.358942,0.730373,2.700478,1.702604,2.601718,2.171699,30.249366,...,2.274314,2.345762,1.414869,1.394544,6.88218,1.762442,6.828938,4.706656,0.826259,0.863477
19,2019,0.020375,1.499449,2.866216,0.463425,2.573685,4.011471,2.243396,2.252557,31.344731,...,2.254469,1.669027,1.410987,1.061378,5.448316,1.975074,6.7113,3.007916,0.858431,0.861897
20,2020,0.537334,1.365298,3.928679,1.659899,3.389896,4.892547,2.805353,1.310634,19.417673,...,1.916359,1.936383,1.902959,1.645497,11.984529,2.166347,5.842888,4.581523,2.664484,3.118141

In [46]:
merged_df.to_csv('state_totals_by_year.csv', index=False)

In [47]:
us_df = pd.read_csv(r"C:\Users\14802\Desktop\hate-crime analysis\datasets\us_pop_totals.csv")

In [50]:
us_df = us_df[us_df.year >= 2000].copy()

In [52]:
us_df.reset_index(inplace=True)

In [54]:
us_df.drop(columns=['index'], inplace=True)

In [55]:
us_df

             area  year  pop_estimate
0   United States  2000     282162411
1   United States  2001     284968955
2   United States  2002     287625193
3   United States  2003     290107933
4   United States  2004     292805298
5   United States  2005     295516599
6   United States  2006     298379912
7   United States  2007     301231207
8   United States  2008     304093966
9   United States  2009     306771529
10  United States  2010     309327143
11  United States  2011     311583481
12  United States  2012     313877662
13  United States  2013     316059947
14  United States  2014     318386329
15  United States  2015     320738994
16  United States  2016     323071755
17  United States  2017     325122128
18  United States  2018     326838199
19  United States  2019     328329953
20  United States  2020     331501080

In [58]:
state_totals_df = pd.read_csv(r"C:\Users\14802\Desktop\hate-crime analysis\datasets\per_capita_master.csv")

In [60]:
state_totals_df = state_totals_df[state_totals_df.year >= 2000].copy()

In [67]:
state_totals_df = state_totals_df[['year','total_incidents']].copy()

In [69]:
year_totals_df = state_totals_df.groupby('year').sum()

In [72]:
year_totals_df.reset_index(inplace=True)

In [74]:
year_totals_df.drop(columns=['index'], inplace=True)

In [75]:
year_totals_df

    year  total_incidents
0   2000           8219.0
1   2001           9730.0
2   2002           7485.0
3   2003           7545.0
4   2004           7685.0
5   2005           7411.0
6   2006           7711.0
7   2007           7625.0
8   2008           8039.0
9   2009           6613.0
10  2010           6633.0
11  2011           6299.0
12  2012           6594.0
13  2013           6044.0
14  2014           5599.0
15  2015           5870.0
16  2016           6276.0
17  2017           7318.0
18  2018           7088.0
19  2019           7768.0
20  2020          10083.0

In [76]:
us_df = us_df.merge(year_totals_df, on='year')

In [77]:
us_df

             area  year  pop_estimate  total_incidents
0   United States  2000     282162411           8219.0
1   United States  2001     284968955           9730.0
2   United States  2002     287625193           7485.0
3   United States  2003     290107933           7545.0
4   United States  2004     292805298           7685.0
5   United States  2005     295516599           7411.0
6   United States  2006     298379912           7711.0
7   United States  2007     301231207           7625.0
8   United States  2008     304093966           8039.0
9   United States  2009     306771529           6613.0
10  United States  2010     309327143           6633.0
11  United States  2011     311583481           6299.0
12  United States  2012     313877662           6594.0
13  United States  2013     316059947           6044.0
14  United States  2014     318386329           5599.0
15  United States  2015     320738994           5870.0
16  United States  2016     323071755           6276.0
17  United States  2017     325122128           7318.0
18  United States  2018     326838199           7088.0
19  United States  2019     328329953           7768.0
20  United States  2020     331501080          10083.0

In [79]:
per_capita = us_df.copy() # makes copy of clean dataframe to start adding per capita values

pop_list = per_capita.pop_estimate.tolist() # sets population estimates to list 

total_incidents_list = per_capita.total_incidents.tolist() # sets total incidents to list

In [80]:
# function to find per capita incidents

per_capita_list = []

def per_capita_totals():
    for pop, total in zip(pop_list, total_incidents_list):

        per_capita_list.append((total/pop)*100000)

In [81]:
per_capita_totals()

In [82]:
per_capita_list

[2.9128614158318915,
 3.414407018476802,
 2.6023450595303035,
 2.6007561813209708,
 2.6246109795458685,
 2.507811752394998,
 2.5842892533596564,
 2.5312782416995727,
 2.643590764310003,
 2.1556759264970773,
 2.1443317051552766,
 2.0216090980766723,
 2.100818502974576,
 1.9122954545075588,
 1.7585554058132942,
 1.8301485350421722,
 1.9426025032736147,
 2.2508464880618644,
 2.1686571587062256,
 2.365912682964993,
 3.041619049928887]

In [84]:
us_df.insert(4, 'total_incidents_per_capita', per_capita_list)

In [85]:
us_df

,area,year,pop_estimate,total_incidents,total_incidents_per_capita
0,United States,2000,282162411,8219.0,2.912861
1,United States,2001,284968955,9730.0,3.414407
2,United States,2002,287625193,7485.0,2.602345
3,United States,2003,290107933,7545.0,2.600756
4,United States,2004,292805298,7685.0,2.624611
5,United States,2005,295516599,7411.0,2.507812
6,United States,2006,298379912,7711.0,2.584289
7,United States,2007,301231207,7625.0,2.531278
8,United States,2008,304093966,8039.0,2.643591
9,United States,2009,306771529,6613.0,2.155676
10,United States,2010,309327143,6633.0,2.144332
11,United States,2011,311583481,6299.0,2.021609
12,United States,2012,313877662,6594.0,2.100819
13,United States,2013,316059947,6044.0,1.912295
14,United States,2014,318386329,5599.0,1.758555
15,United States,2015,320738994,5870.0,1.830149
16,United States,2016,323071755,6276.0,1.942603
17,United States,2017,325122128,7318.0,2.250846
18,United States,2018,326838199,7088.0,2.168657
19,United States,2019,328329953,7768.0,2.365913
20,United States,2020,331501080,10083.0,3.041619

In [86]:
us_df.to_csv('us_per_cap_totals.csv', index=False)